/* app/page.module.css */

.message {
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  max-width: 75%;
}

.messageUser {
  background-color: #00acc1;
  color: #e8eaed;
  align-self: flex-end;
}

.messageAssistant {
  background-color: #303134;
  color: #e8eaed;
  align-self: flex-start;
}
